<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Sqx.Markers" Major="1" Minor="0" Build="0">
      <Files>
        <CPackFile Name="Sqx/Markers/init.sqx" CheckSum="nQ2D9MziIpdMPiYzyd75Pg==" />
        <CPackFile Name="Sqx/Markers/Marker.sqx" CheckSum="sDZbqzYKZYUKd4N5u+Pg5A==" />
        <CPackFile Name="Sqx/Markers/MarkerHelper.sqx" CheckSum="GAKwqGUeKPWIBO9mrt7JJQ==" />
        <CPackFile Name="Sqx/Markers/README.txt" CheckSum="cM5/OzWdCVDDA0PNgn+qNQ==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\Markers\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Sqx.Waypoints" Major="0" Minor="80" Build="0">
      <Files>
        <CPackFile Name="Sqx/Waypoints/Init.sqx" CheckSum="aSXmQKYxN0S0s6twAOnULQ==" />
        <CPackFile Name="Sqx/Waypoints/WaypointHelper.sqx" CheckSum="PB+hgcSa0qexlO6fPedy5A==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\Waypoints\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>